<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="alberapps.android.tiempobus"
    android:installLocation="auto"
    >

    <uses-sdk/>
        <!--tools:overrideLibrary="com.google.android.gms,
        com.google.android.gms.base, com.google.android.gms.maps,
        com.google.android.gms.location, com.google.android.gms.drive, com.google.android.gms.analytics,
        com.google.android.gms.tasks" /-->


    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        tools:ignore="UnusedAttribute" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- MAPS 2 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.CAMERA" />


    <!--
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    -->
    <!--  -->
    <application
        android:name=".ApplicationTiempoBus"
        android:allowBackup="false"
        android:icon="@mipmap/ic_tiempobus_5_adaptive"
        android:roundIcon="@mipmap/ic_tiempobus_5_adaptive_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.TiempoBusTheme">
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|locale"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TiempoBusTheme"
            android:windowSoftInputMode="adjustPan">
            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->
        </activity>
        <activity
            android:name=".principal.SplashActivity"
            android:theme="@style/Theme.TiempoBusThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".favoritos.FavoritosActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/favoritosN"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".favoritos.FavoritoNuevoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/favoritosN"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".favoritos.FavoritoModificarActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/favoritosN"
            android:parentActivityName=".favoritos.FavoritosActivity"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".favoritos.FavoritosActivity" />
        </activity>
        <activity
            android:name=".favoritos.googledrive.FavoritoGoogleDriveActivity"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/favoritosN"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PreferencesFromXml"
            android:label="@string/preferences_from_xml" />
        <activity
            android:name=".noticias.NoticiasTabsPager"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/tit_noticias"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeTab"
            tools:ignore="UnusedAttribute"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".noticias.DetalleNoticiaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/tit_noticias"
            android:parentActivityName=".noticias.NoticiasTabsPager"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".noticias.NoticiasTabsPager" />
        </activity>

        <receiver
            android:name=".alarma.AlarmReceiver"
            android:permission="android.permission.VIBRATE"
            android:process=":remote" />

        <receiver
            android:name=".alarma.AlarmaDiariaReceiver"
            android:permission="android.permission.VIBRATE"
            android:process=":remote" />

        <provider
            android:name=".data.FavoritosProvider"
            android:authorities="alberapps.android.tiempobus"
            android:exported="false" />

        <!-- displays search results. -->
        <activity
            android:name=".buscador.BuscadorLineas"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/busqueda"
            android:parentActivityName=".infolineas.InfoLineasTabsPager"
            android:theme="@style/Theme.TiempoBusThemeTab"
            tools:ignore="UnusedAttribute"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infolineas.InfoLineasTabsPager" />

            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component -->
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Displays the definition of a word. -->
        <activity
            android:name=".buscador.DatosParadaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/datos_parada"
            android:parentActivityName=".buscador.BuscadorLineas"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".buscador.BuscadorLineas" />
        </activity>

        <!-- Provides search suggestions for words and their definitions. -->
        <provider
            android:name=".database.BuscadorLineasProvider"
            android:authorities="alberapps.android.tiempobus.buscador.BuscadorLineasProvider"
            android:exported="false" />

        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".buscador.BuscadorLineas" />

        <activity
            android:name=".appinfo.AppInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:exported="false"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/app_name"
            android:theme="@style/Theme.TiempoBusThemeActionBar">
            <intent-filter>
                <action android:name=".appinfo.AppInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appinfo.TraduccionesActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:exported="false"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/app_name"
            android:theme="@style/Theme.TiempoBusThemeActionBar">
            <intent-filter>
                <action android:name=".appinfo.TraduccionesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".infolineas.InfoLineasTabsPager"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/buscador_online"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeTab"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <!--activity
            android:name=".infolineas.pdf.PdfActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/buscador_online"
            android:parentActivityName=".infolineas.InfoLineasTabsPager"
            android:theme="@style/Theme.TiempoBusThemeTab"
            android:windowSoftInputMode="stateHidden"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infolineas.InfoLineasTabsPager" />
        </activity-->

        <activity android:name=".infolineas.galeriaImagenes.displayingbitmaps.ui.ImageGridActivity"
            android:label="@string/launch_preferences"
            android:icon="@mipmap/ic_tiempobus_5"
            android:parentActivityName=".infolineas.InfoLineasTabsPager"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infolineas.InfoLineasTabsPager" />
        </activity>

        <activity
            android:name=".infolineas.galeriaImagenes.displayingbitmaps.ui.ImageDetailActivity"
            android:label="@string/launch_preferences"
            android:icon="@mipmap/ic_tiempobus_5"
            android:parentActivityName=".infolineas.galeriaImagenes.displayingbitmaps.ui.ImageGridActivity"
            android:theme="@style/Theme.TiempoBusTheme.FullScreen"
            tools:ignore="UnusedAttribute">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".infolineas.galeriaImagenes.displayingbitmaps.ui.ImageGridActivity" />
        </activity>



        <activity
            android:name=".infolineas.InfoLineasDatosParadaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/datos_parada"
            android:parentActivityName=".infolineas.InfoLineasTabsPager"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".infolineas.InfoLineasTabsPager" />
        </activity>
        <activity
            android:name=".historial.HistorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/historial_titulo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeActionBar"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".database.historial.HistorialProvider"
            android:authorities="alberapps.android.tiempobus.historial.HistorialProvider"
            android:exported="false" />

        <service android:name=".service.TiemposForegroundService" />

        <!-- MAPS 2 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- PLACES -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".mapas.MapasActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/menu_mapa"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeTab"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".mapas.streetview.StreetViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|locale"
            android:icon="@mipmap/ic_tiempobus_5"
            android:label="@string/menu_mapa"
            android:parentActivityName=".mapas.MapasActivity"
            android:theme="@style/Theme.TiempoBusThemeTab"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".mapas.MapasActivity" />
        </activity>

        <!-- FIN MAPS 2 -->

        <meta-data
            android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/analytics_global_config" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".rutas.RutasActivity"
            android:label="@string/menu_rutas"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.TiempoBusThemeTab"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="alberapps.android.tiempobus.MainActivity" />
        </activity>


        <!-- Lector de barcode -->
        <activity
            android:name=".barcodereader.BarcodeMainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.TiempoBusDialog">
        </activity>

        <activity android:name=".barcodereader.BarcodeCaptureActivity"
            android:label="Read Barcode"/>


        <!--service android:name=".mensajes.TiempoBusFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"></action>
            </intent-filter>
        </service-->

        <!--meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_tiempobus_4" /-->

    </application>

</manifest>
