<?xml version="1.0" encoding="utf-8"?><!-- Copyright (C) 2011 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!-- Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="alberapps.android.tiempobuswidgets">
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_tiempobus_3"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config">
        <!-- The widget provider -->
        <receiver android:name="alberapps.android.tiempobuswidgets.TiemposWidgetProvider"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- This specifies the widget provider info -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <!-- The service serving the RemoteViews to the collection widget -->
        <service
            android:name="alberapps.android.tiempobuswidgets.TiemposWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- The content provider serving data -->
        <provider
            android:name="alberapps.android.tiempobuswidgets.TiemposDataProvider"
            android:authorities="alberapps.android.tiempobuswidgets.provider"
            android:exported="true" />


        <activity
            android:name="PreferencesFromXml"
            android:label="@string/app_name"
            android:exported="false">

            <!--intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter-->

        </activity>

        <activity
            android:name="ComunicacionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TiempoBusThemeDialog"
            >


        </activity>

        <activity
            android:name="EliminarDatoActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.TiempoBusThemeDialog"/>

    </application>
</manifest>
